/*Estils per a Paideia*/
:root {
    --primary-color: #D11067;
    --granate-fosc: #7A1628;
    --groc: #FFF616; 
    --groc-clar: #FEFBF4;
    --text-color: #172655;
    --gris-fosc: #333333;
    --verd: #DEF5F0;
    --blau: #E3EDFD;
    --taronja: #F7E9E7;
    --gris: #EDEDED;
    --sans-serif: "Montserrat", sans-serif;
    --script: "Satisfy", italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-family: var(--sans-serif);
}

body {
    font-weight: 400;
    line-height: 1.5;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 94%;
}

@media (min-width: 992px) {
    .container {
      max-width: 78%;
    }
}

main {
    color: var(--text-color);
}

input,select,textarea{
   font-family: var(--sans-serif)
}

h1, h2, h3 {   
    font-weight: 700;
}

p {
    font-size: 15px;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

.sr {
    position:absolute;
    height:1px;    
    width:1px;    
    overflow:hidden;    
    clip:rect(1px, 1px, 1px, 1px);
}
.sr:focus {
    height:auto;
    border:1px solid var(--primary-color);
    width:20rem;
    text-align:center;
    bottom:8rem;  
    left:50%;
    margin-left:-10rem;
    background:var(--accent-color);
    color:var(--primary-color);
    padding:1rem 3rem;
    font-size:1.1rem;
    font-weight:bold;
    display:block;
    overflow:visible;
    clip:auto;
    z-index:10;
}


/****************************
Contact bar
*****************************/

.contact-background {
    background-color: var(--primary-color);
    padding: 7px 0 7px 0;
}

.contact-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
    font-size: 14px;
}

@media (max-width: 530px) {
    .contact-header {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        font-size: 14px;
    }
}

.contact-header a {
    text-decoration: none;
    color: white;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 530px) {
    .contact {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.phone {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.mail {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.contact a {
    margin-right: 1rem;
}

.rrss {
    text-decoration: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 10px;
}

/****************************
Header
*****************************/

    /****************************
    Navbar
    *****************************/

header {
    background-image: url(../img/blackboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 0 6px 0;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    margin: 0 20px;
    padding: 0 10px;
    flex-shrink: 0;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin:0;
    transform: scale(0.80);
    transform-origin: left;
}

nav .sign-up {
    background-color: white;
    color: var(--granate-fosc);
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 0;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}

@media (max-width: 1370px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 100%;
        background-color: black;
        padding: 60px 0 0 0;
        transition: 0.25s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 10px 10px;
        margin-left: 30px;
        justify-content: flex-start;
    }

    .logo {
        display: block;
        margin-right: auto;
        padding: 0;
        transform-origin: left;
    }

    nav .sign-up {
        background-color: transparent;
        color: #ffffff;
        padding: 10px 20px;
    }

    .open-sidebar-button, .close-sidebar-button {
        display: block;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 4rem 1rem;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #sidebar-active:checked ~ .logo {
        display: block;
    }
}

    /****************************
    H1 Home
    *****************************/

header .home-h1 {
    font-family: var(--script);
    font-size: 55px;
    font-weight: 200;
    text-align: center;
    padding: 50px 15% 50px 15%;
    text-wrap: balance;
}

@media (min-width: 1789px) {
    header .home-h1 {
        font-family: var(--script);
        font-size: 55px;
        font-weight: 200;
        text-align: center;
        padding: 50px 30%;
        text-wrap: balance;
    }
}

@media (max-width: 845px) {
    header .home-h1 {
        font-family: var(--script);
        font-size: 55px;
        font-weight: 200;
        text-align: center;
        text-wrap: balance;
        padding: 50px 5%;
    }
}

@media (max-width: 500px) {
    header .home-h1 {
        font-family: var(--script);
        font-size: 55px;
        font-weight: 200;
        text-align: center;
        text-wrap: wrap;
        padding: 50px 0;
    }
}

.important {
    color: var(--groc);
}

.subtitle {
    text-align: center;
    color: #ffffff;
}

    /****************************
    Search bar
    *****************************/

.search-bar {
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    margin: 40px 0px;
    padding: 11px 13px 11px 30px;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

@media (min-width: 715px) {
    .search-bar {
        text-align: center;
        align-items: center;
        background-color: #ffffff;
        margin: 40px 10%;
        padding: 11px 13px 11px 30px;
        border-radius: 35px;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .search-bar {
        text-align: center;
        align-items: center;
        background-color: #ffffff;
        margin: 40px 15%;
        padding: 11px 13px 11px 30px;
        border-radius: 35px;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1400px) {
    .search-bar {
        text-align: center;
        align-items: center;
        background-color: #ffffff;
        margin: 40px 23%;
        padding: 11px 13px 11px 30px;
        border-radius: 35px;
        display: flex;
        justify-content: space-between;
    }
}

.input {
    border: none;
    flex-grow: 2;
    font-size: 15px;
    font-family: var(--sans-serif);
    align-items: center;
}

.input-button {
    border: none;
    padding: 15px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 15px;
    font-family: var(--sans-serif);
    display: flex;
    gap: 15px;
    border-radius: 21px;
    align-items: center;
}

    /****************************
    Header info
    *****************************/

.info-grid {
    display: flex;
    justify-content: space-around;
    padding: 15px 0 65px 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info p{
    padding: 5px 0 5px 0;
    color: #ffffff;
}

.info-title {
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 860px) {
    .info-grid {
        display: flex;
        flex-direction: column;
        gap: 60px;
        justify-content: space-around;
        padding: 15px 0 60px 0;
    }
}

/****************************
Main
*****************************/

    /****************************
    Popular courses
    *****************************/

.courses-title {
    font-size: 30px;
    color: var(--primary-color);
    padding: 70px 0 20px 0;
}

.intro-courses {
    padding-bottom: 15px;
}

.courses {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    position: relative;
}

@media (max-width: 992px) {
    .courses {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
        position: relative;
    }
}

.course {
    grid-row: span 3;
    border: solid 1px var(--gris);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform .2s;
}

.course a {
    text-decoration: none;
}

.course h3 {
    color: var(--granate-fosc);
    padding: 15px 17px 12px 17px;
    line-height: 1.1;
    font-size: 18px;
}

.course-img {
    width: 100%;
    height: 160px;
    object-fit: cover;

}

.detail {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.detail p{
    font-size: 12px;
    color: var(--text-color);
}

.detail img{
    padding-right: 3px;
}

.course-info {
    display: flex;
    justify-content: space-between;
    padding: 0 17px 20px 17px;
}

.tag-new{
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 14px;
    margin: 1rem;
    padding: 5px 10px 5px 10px;
    background-color: var(--primary-color);
    border-radius: 21px;
}

.tag-bs{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--primary-color);
    font-size: 14px;
    margin: 0.5rem;
    padding: 5px 10px 5px 10px;
    background-color: var(--groc);
    border-radius: 21px;
}

.courses-button {
    text-align: center;
    padding: 70px;
}

.courses-button button{
    border: solid var(--primary-color);
    background-color: transparent;
    padding: 18px 20px 18px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    font-family: var(--sans-serif);
    color: var(--primary-color);
    font-weight: 500;
    font-size: 15px;
}

    /****************************
    Learning path
    *****************************/

.path {
    background-image: url(../img/learn-path.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 200;
}

.path h2 {
    color: #ffffff;
    font-family: var(--script);
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    padding: 47px 20px 5px 20px;
}

.path p {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
}

.path-button {
    text-align: center;
    padding: 20px 0 70px 0;
}

.path-button button{
    border: solid #ffffff;
    background-color: transparent;
    padding: 18px 20px 18px 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: var(--sans-serif);
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
}

    /****************************
    Registration
    *****************************/

.registration h2 {
    font-family: var(--script);
    font-size: 60px;
    font-weight: 400;
    color: var(--granate-fosc);
    line-height: 1;
    padding-bottom: 30px;
}

.registration-info {
    display: flex;
    gap: 20px;
    padding: 20px 0 20px 0;
    align-items: center;
}

@media (max-width: 318px) {
    .registration-info {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px 0 20px 0;
        align-items: center;
    }
}

.icon-one {
    display: flex;
    align-items: center;
    background-color: #DEF5F0;
    padding: 20px;
    border-radius: 50%;
}

.icon-two {
    display: flex;
    align-items: center;
    background-color: #E3EDFD;
    padding: 20px;
    border-radius: 50%;
}

.icon-three {
    display: flex;
    align-items: center;
    background-color: #F7E9E7;
    padding: 20px;
    border-radius: 50%;
}

.registration-text h3 {
    color: var(--granate-fosc)
}

.registration-button {
    border: solid var(--primary-color);
    background-color: transparent;
    padding: 18px 20px 18px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    font-family: var(--sans-serif);
    color: var(--primary-color);
    font-weight: 500;
    font-size: 15px;
    margin: 30px 0 40px 95px;
}

.registration-section {
    display: grid;
    gap: 2fr;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    align-items: center;
    padding: 40px 0 20px 0;
}

@media (945px <= width <= 992px) {
    .registration-section {
        display: grid;
        gap: 2fr;
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
        align-items: center;
        padding: 10px 0 60px 0;
    }
}

@media (max-width: 565px) {
    .registration-section {
        display: grid;
        gap: 2fr;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        align-items: center;
        padding: 10px 0 60px 0;
    }
}

.registration-section img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    justify-self: center;
}

@media (max-width: 465px) {
    .registration-section img {
        max-width: 250px;
        height: auto;
        border-radius: 10px;
        justify-self: center;
    }
}

    /****************************
    Top categories
    *****************************/

.categories {
    background-color: var(--gris);    
}

.section {
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
}

.section-1 {
    background-color: #ffffff;
    box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.section-2 {
    background-color: var(--gris);
    box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.section-3 {
    background-color: var(--groc-clar);
    padding: 40px 0 40px 0;
    z-index: 1;
}

.categories-container h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: var(--primary-color);
    font-size: 30px;
}

.category h3 {
    color: #ffffff;
    padding: 20px 0 15px 0;
    font-size: 18px;
}

.category p {
    color: #ffffff;
    padding-bottom: 15px;
}

.categories {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: relative;
    padding: 10px 0 40px 0;
}

.category {
    grid-row: span 3;
    background-color: var(--text-color);
    border-radius: 21px;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pd {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pd-text {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 992px) {
    .category {
        grid-row: span 3;
        background-color: var(--text-color);
        border-radius: 21px;
        overflow: hidden;
        position: relative;
        padding: 20px 0;
        text-align: center;
        justify-content: center;
    }
    
    .pd {
        grid-column: 2 / 3;
        grid-row: span 6;
    }
}

@media (max-width: 992px) {
    .categories {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
        position: relative;
    }
}

@media (max-width: 360px) {
    .categories {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        position: relative;
    }
}

    /****************************
    Instructor
    *****************************/

.instructor {
    display: flex;
    gap: 100px;
    padding: 20px 0 20px 0;
    align-items: center;
    justify-content:space-between;
}

@media (max-width: 992px) {
    .instructor {
        display: flex;
        gap: 40px;
        padding: 20px 0 20px 0;
        align-items: center;
        justify-content:space-between;
    }
}

@media (max-width: 576px) {
    .instructor {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
        padding: 20px 0 20px 0;
        align-items: center;
        justify-content:space-between;
    }
}

.instructor-text h2 {
    font-family: var(--sans-serif);
    font-size: 30px;
    font-weight: 700;
    color: var(--granate-fosc);
    line-height: 1;
    padding-bottom: 25px;
    margin: 0;
}

@media (max-width: 318px) {
    .registration-info {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px 0 20px 0;
        align-items: center;
    }
}

.apply-button {
    border: solid var(--primary-color);
    background-color: transparent;
    padding: 18px 20px 18px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    font-family: var(--sans-serif);
    color: var(--primary-color);
    font-weight: 500;
    font-size: 15px;
    margin: 15px 0 0 0;
}

.instructor img {
    max-width: 600px;
    width: 60%;
    height: auto;
    border-radius: 10px;
    justify-self: center;
}

@media (max-width: 992px) {
    .instructor img {
    max-width: 500px;
    width: 50%;
    height: auto;
    border-radius: 10px;
    justify-self: center;
    }
}

@media (max-width: 576px) {
    .instructor img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    justify-self: center;
    }
}

/****************************
Footer
*****************************/

footer {
    background-color: #172655;
    color:#ffffff;
    font-family: var(--sans-serif);
    padding: 60px 0;
}

footer p {
    color: #ffffff;
}

footer ul {
    list-style-type: none;
    padding-right: 0;
}

footer ul li {
    display: inline-block;
    font-size: 13px;
    padding-right: 1rem;
}

footer ul li a {
    text-decoration: none;
    color: #ffffff;
}

footer ul li::after {
    padding-right: 0,8rem;
}
footer ul li:last-child::after {
    content: "";
    padding-right: 0.5rem;
}

.subscribe {
    display: flex;
    flex-direction: column;
}

.newsletter-bar {
    background-color: #FFFFFF33;
    margin: 15px 0 35px 0;
    padding: 11px 13px 11px 20px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    overflow: hidden;
}

.newsletter-bar svg {
    width: 20px;
    height: 20px;
}

.input-subs {
    border: none;
    font-size: 15px;
    font-family: var(--sans-serif);
    background-color: transparent;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.input-subs::placeholder {
    color: #ffffff;
    opacity: 1;
  }

.input-button-subs {
    border: none;
    padding: 15px;
    background-color: #ffffff;
    color: var(--text-color);
    font-size: 30px;
    font-family: var(--sans-serif);
    display: flex;
    gap: 15px;
    border-radius: 50%;
    align-items: center;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

@media (max-width: 1024px) {
    .company {
        display: flex;
        gap: 60px;
        flex-direction: column;
        align-items: start;
        padding-bottom: 60px;
    }
}

@media (max-width: 576px) {
    .company {
        display: flex;
        gap: 60px;
        flex-direction: column-reverse;
        align-items: start;
        padding-bottom: 60px;
    }
}

.footer-logo img {
    width: 65%;
}

.footer-phone {
    text-decoration: none;
    color: #ffffff;
}

.footer-email {
    text-decoration: none;
    color: #ffffff;
}

.bold {
    font-weight: 700;
}

.credits p{
    font-size: 12px;
}

.credits a {
    text-decoration: none;
    color: #ffffff;
    background-color: #FFFFFF33;
}

/****************************
*****************************
Become an instructor
*****************************
*****************************/

.become-an-instructor {
    font-size: 35px;
    color: var(--primary-color);
}

.bai h1 {
    line-height: 1;
    margin-bottom: 10px;
}

.bai-text {
    font-size: 20px;
    margin-bottom: 40px;
}

.intro-bai img {
    display: block;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

@media (max-width: 560px) {
    .intro-bai img {
        display: block;
        margin: auto;
        width: 100%;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    }
}

.steps-title {
    color: var(--granate-fosc);
    font-size: 24px;
    margin: 50px 0 15px 0;
}

.steps-list {
    margin: 15px 0 0 0;
}

.steps-list-style {
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 700;
    padding: 20px 20px 20px 40px;
    margin: 15px 0 45px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.steps-list-style a {
    text-decoration: none;
    color: var(--primary-color);
}

.numbered-list {
    list-style: none;
    counter-reset: list-counter;
    padding-left: 0;
}

.numbered-list .list-number {
    counter-increment: list-counter;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
}

.numbered-list .list-number::before {
    content: counter(list-counter);
    border: 1px solid var(--text-color);
    padding: 0 2px;
    margin-right: 10px;
    color: var(--text-color);
    font-weight: 700;
    display: inline-block;
    min-width: 27px;
    text-align: center;
    flex-shrink: 0;
    font-size: 20px;
}

.numbered-list .list-number .steps-content {
    display: flex;
    flex-direction: column;
}

.steps-content a {
    text-decoration: none;
    color: var(--primary-color);
}

.title-list {
    font-size: 18px;
    padding: 3px 0 7px 0;
}

.step-content {
    border: 1px solid var(--blau);
    color: var(--gris-fosc);
    padding: 20px 20px 20px 20px;
    margin: 15px 0 5px 0;
}

.step-content-title {
    font-weight: 700;
    color: var(--gris-fosc);
    margin-bottom: 20px;
}

.step-content-subtitle {
    margin-top: 5px;
}

.step-content-text {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    color: var(--gris-fosc);
}

@media (max-width: 670px) {
    .step-content-text {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 10px;
        color: var(--gris-fosc);
    }
}

.step-content-text img {
    width: 20px;
    height: auto;
}

.step-content-list {
    margin-left: 20px;
    column-count: 3;
}

@media (max-width: 670px) {
    .step-content-list {
        margin-left: 20px;
        column-count: 1;
    }
}

.apply-button-2 {
    border: solid var(--primary-color);
    background-color: transparent;
    padding: 18px 20px 18px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    font-family: var(--sans-serif);
    color: var(--primary-color);
    font-weight: 500;
    font-size: 15px;
    margin: 15px 0 0 0;
    align-self: flex-start;
}

.two-paragrafs {
    display: flex;
    flex-direction: column;
}

.first-paragraf {
    padding-bottom: 15px;
}

.career-path {
    width: 300px;
    border: 1px solid var(--text-color);
    padding-bottom: 5px;
}

.career-path h2 {
    background-color: var(--blau);
    border-bottom: 1px solid var(--text-color);
    font-size: 18px;
    padding: 5px 12px 3px 12px;
}

.career-path p {
    font-size: 14px;
}

.icp-steps {
    padding: 18px 0 0 20px;
    list-style: none;
    counter-reset: step-counter;
    padding-left: 0;
}

.icp-steps li {
    counter-increment: step-counter;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

.icp-steps li p {
    padding-bottom: 5px;
}

.icp-steps li::before {
    content: counter(step-counter) ".";
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
}

.icp-list-number h3 {
    font-size: 16px;
    margin-bottom: 17px;
}

.chevron::before {
	border-style: solid;
	border-width: 0.3em 0.3em 0 0;
	content: '';
	display: block;
	height: 1.8em;
	position: relative;
	transform: rotate(-45deg);
	width: 1.8em;
    margin: auto;
    color: var(--gris-fosc);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
    margin-bottom: 33px;
}

.bai {
    margin: 20px 0 60px 0;
    display: grid;
    align-content: start;
    align-items: start;
    justify-items: center;
}

@media (min-width: 1214px) {
    .bai {
        margin: 40px 0 0 0;
        gap: 1.5rem;
        grid-template-columns: 3fr 1fr;
        align-content: start;
        align-items: start;
        justify-items: end;
    }
}

/****************************
*****************************
Contact
*****************************
*****************************/

.contact-us-title {
    font-size: 35px;
    color: var(--primary-color);
    line-height: 1;
    margin-bottom: 15px;
    margin-top: 30px;
}

.our-offices {
    color: var(--granate-fosc);
    margin-bottom: 30px;
    padding-top: 20px;
    font-size: 24px;
}

.countries {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px 20px;
    margin-bottom: 70px;
}

@media (max-width: 620px) {
    .countries {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 60px;
    }
}

.country h3 {
    font-size: 18px;
    color: var(--granate-fosc);
}

.country p {
    margin: 20px 0 8px 0;
}

.country-la {
    grid-row: 2 / 3 ;
    grid-column: 1 / 3;
}

.country-la h3 {
    font-size: 18px;
    color: var(--granate-fosc);
}

.country-la p {
    margin: 20px 0 8px 0;
}

.email {
    text-decoration: none;
    color: var(--primary-color);
}

.our-students {
    color: var(--granate-fosc);
    font-size: 24px;
    margin-bottom: 17px;
}

.students {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1px 1px;
}

@media (max-width: 768px) {
    .students {
        display: grid;
        grid-template-columns: 100%;
        gap: 1px;
    }
}

.student {
    background-color: var(--gris);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

.student-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--text-color);
}

.box {
    position: relative;
    margin-bottom: 15px;
}

.flag {
    border-radius: 50%;
    height: 47px;
    width: 47px;
    object-fit: cover;
    border: 4px solid #ffffff;
    position: absolute;
    bottom: -5px;
    right: -5px;
}

.translate {
    color: var(--granate-fosc);
    text-decoration: underline;
    font-size: 14px;
    margin-bottom: 5px;
}

.student-name {
    font-size: 18px;
    font-weight: 700;
}

.student-subtitle {
    margin-bottom: 5px;
}

.student q {
    text-align: center;
    font-style: italic;
    font-weight: 500;
}

.student a {
    margin-bottom: 5px;
}

    /****************************
    Form
    *****************************/

.form {
    width: 300px;
    background-color: var(--groc-clar);
    border: 1px solid var(--gris);
    padding: 1.5rem;
    border-radius: 21px;
}

@media (max-width: 1214px) {
    .form {
        width: 80%;
        height: auto;
        background-color: var(--groc-clar);
        border: 1px solid var(--gris);
        padding: 1.5rem;
        border-radius: 21px;
        margin-top: 40px;
    }
}

.form p {
    margin-bottom: 15px;
}

.form-title {
    color: var(--granate-fosc);
    font-size: 24px;
    padding-bottom: 20px;
}

form ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

fieldset {
    border: transparent;
    margin-bottom: 17px;
}

legend {
    font-size: 18px;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: var(--granate-fosc);
}

.form-label {
    display: block;
    font-weight: 500;
    font-size: 14px;
}

.cb {
    display: block;
    font-weight: 400;
    font-size: 14px;
}

form abbr {
    color: #ff0000;
    font-size: 1rem;
}

.input-form:not([type="radio"]):not([type="checkbox"]),
select,
select {
    width: 100%;
    padding: 0.5rem;
    border: 0.5px solid var(--bg-dark-color);
    margin-bottom: 1rem;
    background-color: #FFFFFF;
    outline: solid 0.5px;
}

select {
    height: 160px;
    margin-bottom: 0;
}

.input-form[type="radio"],
.input-form[type="checkbox"] {
    margin-right: 0.3rem;
}

ul.radio-group:first-child {
    padding-top: 1rem;
}

.radio-group label,
.input-form[type="checkbox"]+label {
    display: inline;
}

.outFieldset p {
    font-size: 0.8rem;
}

.legal-conditions {
    color: var(--primary-color);
    text-decoration: none;
}

@media (min-width: 1214px) {
    .legal-conditions {
        color: var(--primary-color);
        text-decoration: none;
        padding-left: 22px;
    }
}

@media (max-width: 409px) {
    .legal-conditions {
        color: var(--primary-color);
        text-decoration: none;
        padding-left: 22px;
    }
}

.call-me {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    padding: 0.8rem 0;
    background-color: var(--text-color);
    color: #ffffff;
    font-size: 15px;
    border: none;
    appearance: none;
    font-family: var(--sans-serif);
    margin-top: 15px;
}

.input-form[type="text"]:required:user-invalid,
.input-form[type="email"]:required:user-invalid,
.input-form[type="tel"]:required:user-invalid,
select:required:user-invalid {
    border: 1px solid #FF0000;
}

.input-form[type="text"]:required:valid,
.input-form[type="email"]:required:valid,
.input-form[type="tel"]:required:valid,
select:required:valid {
    border: 1px solid #4CAF50;
}

.input:focus,
.input[type="text"]:focus,
.input[type="email"]:focus,
.input[type="tel"]:focus,
select:focus,
textarea:focus {
    background-color: var(--secondary-color);
}

.contact-grid {
    margin: 20px 0 60px 0;
    display: grid;
    align-content: start;
    align-items: start;
    justify-items: center;
}

@media (min-width: 1214px) {
    .contact-grid {
        margin: 20px 0 70px 0;
        gap: 1.5rem;
        grid-template-columns: 3fr 1fr;
        align-content: start;
        align-items: start;
        justify-items: end;
    }
}

/****************************
*****************************
Hovers
*****************************
*****************************/

nav a:hover {
    border-bottom: 5px solid #ffffff;
    padding-bottom: 10px;
    margin-top: 15px;
}

.log-in:hover {
    color: var(--primary-color);
    border: none;
    padding-bottom: 10px;
    margin-top: 10px;
}

.call-me:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.sign-up:hover {
    border: none;
    padding-bottom: 10px;
    margin-top: 0;
    background-color: var(--primary-color);
    color: #ffffff;
}

.logo a:hover {
    border: none;
    padding-bottom: 0;
    margin-top: 0;
}

@media (max-width: 1370px) {

    nav a:hover {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        justify-content: flex-start;
        border: none;
        color: var(--groc);
        padding: 10px 10px 10px 10px;
        margin: 0 10px 0px 30px;
    }

    nav .sign-up:hover {
        background-color: transparent;
        color: var(--groc);
        padding: 10px 10px;
    }

    .log-in:hover {
        color: var(--groc);
        border: none;
        padding: 10px 10px 10px 10px;
        margin: 0 10px 0px 30px;
    }
}

.active {
    color: var(--groc);
    border-bottom: 5px solid var(--groc);
    padding-bottom: 10px;
    margin-top: 15px;
}

.input-button:hover {
    background-color: var(--text-color);
}

.course:hover {
    border: 1px solid var(--text-color);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    transform: scale(1.1);
}

.courses-button button:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #ffffff;
}

.registration-button:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #ffffff;
}

.apply-button:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #ffffff;
}

.path-button button:hover {
    border: 1px solid var(--groc);
    color: var(--groc);
}

.category:hover {
    background-color: var(--primary-color);
}

.input-button-subs:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.legal li:hover {
    text-decoration: underline;
}

.footer-phone:hover {
    text-decoration: underline;
}

.footer-email:hover {
    text-decoration: underline;
}

.credits a:hover {
    text-decoration: underline;
}

.steps-list-style a:hover {
    text-decoration: underline;
    color: var(--granate-fosc);
}

.steps-content a:hover {
    text-decoration: underline;
    color: var(--granate-fosc);
}

.country a:hover {
    text-decoration: underline;
}

.country-la a:hover {
    text-decoration: underline;
}

.student a:hover {
    text-decoration: underline;
}

.translate:hover {
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

.legal-conditions:hover {
    text-decoration: underline;
}